name: Benchmarks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  rake:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.1', '3.0', '2.7', '2.5.1',  '2.4.3', 'ruby-head',
                       'jruby-9.1.17.0', 'jruby-head', 'truffleruby-22.3.0',
                       'truffleruby-head']

    steps:
      - name: Set Share Env
        if: github.ref_name == 'main'
        run: |
          echo "SHARE=1" >> $GITHUB_ENV
          echo "CI=1" >> $GITHUB_ENV
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: bundle install
      - name: Run benchmarks
        run: bundle exec rake
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.ruby-version }}-report
          path: reports/${{ matrix.ruby-version }}-report.txt

  rake_old:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        ruby-version: ['2.3.0', '2.1.9', '2.2.10']

    steps:
      - name: Set Share Env
        if: github.ref_name == 'main'
        run: |
          echo "SHARE=1" >> $GITHUB_ENV
          echo "CI=1" >> $GITHUB_ENV
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: bundle install
      - name: Run benchmarks
        run: bundle exec rake
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.ruby-version }}-report
          path: reports/${{ matrix.ruby-version }}-report.txt
